<div>
<h1 style="text-align:center;">Admin Homepage</h1>

  <div>
    <strong>Name:</strong>
    <%= @admin.user.name  %><br>
  </div>
</div>

<p>
<strong>Actions: </strong>
<table>

  <tr><td><%= link_to 'editProfile', edit_user_path(@admin) %></td></tr>
  <tr><td><%= link_to 'createHouseHunter', new_house_hunter_path %></td></tr>
  <tr><td><%= link_to 'createRealtor', new_realtor_path %></td></tr>
  <tr><td><%= link_to 'createRealEstateCompany', new_real_estate_company_path %></td></tr>
  <tr><td><%= link_to 'createHouse', new_house_path %></td></tr>
  <tr><td><%= link_to 'viewAllUsers', users_path%></td></tr>
  <tr><td><%= link_to 'viewAllHouses', houses_path%></td></tr>
  <tr><td><%= link_to 'viewAllInquiries', inquiries_path%></td></tr>
  <tr><td><%= link_to 'viewAllRealEstateCompanies', real_estate_companies_path%></td></tr>
  <tr><td></td></tr>

</table>



<p>

<%= link_to 'Back to Home', root_path %>
