<h1>Admin Homepage</h1>

<p>
  <strong>Name:</strong>
  <%= @admin.user.name  %><br>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %>

<table>
  <tr>
    <th>Actions</th>
  </tr>

  <tr><td><%= link_to 'createHouseHunter', new_house_hunter_path %></td></tr>
  <tr><td><%= link_to 'createRealtor', new_realtor_path %></td></tr>
  <tr><td><%= link_to 'createRECompany', new_realEstateCompany_path %></td></tr>
  <tr><td><%= link_to 'viewAllUsers', users_path%></td></tr>
  <tr><td><%= link_to 'viewAllHouses', houses_path%></td></tr>
  <tr><td><%= link_to 'viewAllInquiries', inquiries_path%></td></tr>

</table>