<%= form_with(model: house, local: true) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :real_estate_company_id %>
    <%= form.collection_select(:real_estate_company_id, RealEstateCompany.all, :id, :name) %>
  </div>

  <% if current_user.user_type == 1 #admin type %>
    <div class="field">
      <%= form.label :realtor_contact %>
      <% realtor_phone_name_array = Realtor.all.collect { |realtor| [realtor.user.name, realtor.user.phone]} %>
      <%= form.select(:realtor_contact, options_for_select(realtor_phone_name_array)) %>

    </div>
  <% end %>
  <% if current_user.user_type == 2 #realtor type %>
    <div class="field">
      <%= form.label :realtor_contact %>
      <%= form.select(:realtor_contact, [current_user.phone, current_user.email].hash) %>
      <%= form.hidden_field :realtor_id, { :value => current_user.realtor.id } %>
    </div>
  <% end %>

    <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :square_footage %>
    <%= form.number_field :square_footage %>
  </div>

  <div class="field">
    <%= form.label :year_built %>
    <%= form.number_field :year_built %>
  </div>

  <div class="field">
    <%= form.label :style %>
    <%= form.text_field :style %>
  </div>

  <div class="field">
    <%= form.label :list_price %>
    <%= form.number_field :list_price %>
  </div>

  <div class="field">
    <%= form.label :num_of_floors %>
    <%= form.number_field :num_of_floors %>
  </div>

  <div class="field">
    <%= form.label :basement %>
    <%= form.check_box :basement %>
  </div>

  <div class="field">
    <%= form.label :current_owner %>
    <%= form.text_field :current_owner %>
  </div>

<!--  <div class="field">-->
    <%#= form.label :potential_buyers %>
    <%#= form.text_field :potential_buyers %>
<!--  </div>-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
