<p id="notice"><%= notice %></p>

<h1>Houses</h1>

<table>
  <thead>
    <tr>
      <th>House</th>
      <th>Company</th>
      <th>Location</th>
      <th>Square footage</th>
      <th>Year built</th>
      <th>Style</th>
      <th>List price</th>
      <th>Num of floors</th>
      <th>Basement</th>
      <th>Current owner</th>
      <th>Realtor contact</th>
      <th>Potential buyers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.house_id %></td>
        <td><%= house.company_id %></td>
        <td><%= house.location %></td>
        <td><%= house.square_footage %></td>
        <td><%= house.year_built %></td>
        <td><%= house.style %></td>
        <td><%= house.list_price %></td>
        <td><%= house.num_of_floors %></td>
        <td><%= house.basement %></td>
        <td><%= house.current_owner %></td>
        <td><%= house.realtor_contact %></td>
        <td><%= house.potential_buyers %></td>
        <td><%= link_to 'Show', house %></td>
        <td><%= link_to 'Edit', edit_house_path(house) %></td>
        <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New House', new_house_path %>
<%= link_to 'Back', root_path %>
