<%= form_tag(houses_path, method: :get) do %>
  <div>
    <h4>List Price <br /></h4>
    <%= select_tag :list_price, options_for_select(
        [
            [""],
            ["1-100000"],
            ["100001-250000"],
            ["250001-500000"],
            ["500000+"]
        ]) %>
  </div>
  <div>
    <h4>Square Footage <br /></h4>
    <%= select_tag :list_price, options_for_select(
        [
            [""],
            ["1-1000"],
            ["1001-5000"],
            ["5001-10000"],
            ["10001+"]
        ]) %>
  </div>
  <div>
    <h4>Location <br /></h4>
    <%= text_field_tag :location, params[:location] %>
  </div>
  <div>
    <h4>Year Built <br /></h4>
    <%= text_field_tag :year_built, params[:year_built] %>
  </div>
  <div>
    <h4>Number of Floors <br /></h4>
    <%= select_tag :list_price, options_for_select(
        [
            [""],
            ["1"],
            ["2"],
            ["3"],
            ["4+"]
        ]) %>  </div>
  <br/>
  <div>
    <%= submit_tag 'Search', name: nil %>
  </div>
<% end %>
<br/>
<br/>
<%= link_to 'Back', root_path %>

</section>