<p id="notice"><%= notice %></p>

<h1>Potential Buyers Lists</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @potential_buyers_lists.each do |potential_buyers_list| %>
      <tr>
        <td><%= link_to 'Show', potential_buyers_list %></td>
        <td><%= link_to 'Edit', edit_potential_buyers_list_path(potential_buyers_list) %></td>
        <td><%= link_to 'Destroy', potential_buyers_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Potential Buyers List', new_potential_buyers_list_path %>
