<p id="notice"><%= notice %></p>

<h1>Realtors</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Phone</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realtors.each do |realtor| %>
      <tr>
        <td><%= realtor.full_name %></td>
        <td><%= realtor.phone %></td>
        <% if realtor != nil  %>
          <% if realtor.real_estate_companies_id != nil %>
          <td> <%= realtor.real_estate_companies_id %> </td>
            <% end %>
          <% if realtor.real_estate_companies_id == nil %>
            <td> No Company Assigned </td>
          <% end %>
        <% end %>

        <td><%= link_to 'Show', realtor %></td>
        <td><%= link_to 'Edit', edit_realtor_path(realtor) %></td>
        <td><%= link_to 'Destroy', realtor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Realtor', new_realtor_path %>
<%= link_to 'Back to Home', root_path %>
