<p id="notice"><%= notice %></p>

<h1>Realtors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Real Estate Company</th>
    </tr>
  </thead>

  <tbody>
    <% @realtors.each do |realtor| %>
      <tr>
        <td><%= realtor.user.name %></td>
        <td><%= realtor.user.email %></td>
        <td><%= realtor.user.phone %></td>
        <% if realtor.real_estate_company_id != nil %>
          <td> <%= realtor.real_estate_company.name %> </td>
        <% end %>
        <% if realtor.real_estate_company_id == nil %>
          <td> No Company Assigned </td>
        <% end %>
        <td><%= link_to 'Show', realtor %></td>
        <td><%= link_to 'Edit', edit_realtor_path(realtor) %></td>
        <td><%= link_to 'Destroy', realtor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Realtor', new_realtor_path %>
<%= link_to 'Back to Home', root_path %>
