<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @realtor.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @realtor.password %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @realtor.full_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @realtor.phone %>
</p>

<p>
  <strong>Company:</strong>
  <%= @realtor.company_id %>
</p>

<%= link_to 'Edit', edit_realtor_path(@realtor) %> |
<%= link_to 'Back', realtors_path %>
