<h1>StartPage#index</h1>
<p>This is the homepage for our Realtor App. From here, we need to allow users to log in or make a user.</p>

<pre>
  <%= current_user.inspect %>
  <%= current_user.realtor %>
</pre>
<% if current_user.user_type == 0 || current_user.user_type == 1 #No Type or admin type%>
  <h4>No Role Chosen!</h4>
  <table>
    <tr>

      <% if current_user.house_hunter == nil %>
      <td><div><%= link_to "Make a HouseHunter Account", new_house_hunter_path%></div></td>
      <% end %>
      <% if current_user.house_hunter != nil %>
      <td><div><%= link_to "Go to Your HouseHunter Profile",  set_type_house_hunter_path(current_user.house_hunter.id) %></div></td>
      <% end %>
      <% if current_user.realtor == nil %>
        <td><div><%= link_to "Make a Realtor Account", new_realtor_path%></div></td>
      <% end %>
      <% if current_user.realtor != nil %>
        <td><div><%= link_to "Go to Your Realtor Profile",  set_type_realtor_path(current_user.realtor.id) %></div></td>
      <% end %>
    </tr>
  </table>
<% end %>

<!-- These are Realtor specific functions -->
<% if current_user.user_type == 2 %>
  <h4>Realtor</h4>
  <table>
    <tr>
      <td><div><%= link_to "View All Houses", houses_path %></div></td>
      <td><div><%= link_to "View Realtor Profile", realtor_path(current_user.realtor) %></div></td>
      <td><div><%= link_to "List House", new_house_path %></div></td>
<!--      <td><div><%#= link_to "Edit Company", realtor_edit_company_path(current_user.realtor) %></div></td>-->
    </tr>
  </table>
<% end %>

<!-- These are House_Hunter Specific functions -->
<% if current_user.user_type == 3 #|| current_user.user_type == 1 #House Hunter or Admin check%>
  <h4>House_Hunter</h4>
  <table>
    <tr>
      <td><div><%= link_to "View House Hunter Profile", house_hunter_path(current_user.house_hunter)%></div></td>
      <td><div><%= link_to "View All Real Estate Companies", real_estate_companies_path %></div></td>
      <td><div><%= link_to "View All Houses", houses_path %></div></td>
      <td><div><%= link_to "Search Houses", search_houses_path %></div></td>
      <td><div><%= link_to "View My Inquiries", house_hunter_inquiries_path(current_user.house_hunter.id) %></div></td>
      <td><div><%= link_to "View My House Interest List", house_hunter_interest_list_path(current_user.house_hunter.id,
                                                                                          current_user.house_hunter.interest_list.id)%></div></td>
    </tr>
  </table>
<% end %>

<!-- These are Admin Specific functions-->
<% if current_user.admin #admin type %>
  <h4>Administrator</h4>
  <table>
    <tr>
      <td><div><%= link_to "Admin Home Page", admin_path(current_user)%></div></td>
      <% if current_user.user_type != 1 #this means we're acting as a house_hunter or realtor. %>
        <td><div><%= link_to "Return to Admin View", set_type_admin_path(current_user.admin.id) %></div></td>
      <% end %>
    </tr>
  </table>
<% end %>
<br><br>
<br><br>
<!-- Need to be able to reset our user_identity-->
<% if current_user.user_type != 0 and !(current_user.admin) %> <!-- don't allow admins to do this -->
  <td><div><%= link_to "Stop Viewing as Any Role", reset_user_type_path %></div></td>
<% end %>
