<h1>StartPage#index</h1>
<p>This is the homepage for our Realtor App. From here, we need to allow users to log in or make a user.</p>

<pre>
  <%= current_user.inspect %>
  <%= current_user.house_hunter %>
</pre>
<% if current_user.user_type == 0 || current_user.user_type == 1 #No Type or admin type%>
  <h4>No Role Chosen!</h4>
  <table>
    <tr>

      <% if current_user.house_hunter == nil %>
      <td><div><%= link_to "Make a HouseHunter Account", new_house_hunter_path%></div></td>
      <% end %>
      <% if current_user.house_hunter != nil %>
      <td><div><%= link_to "Go to Your HouseHunter Profile",  set_type_house_hunter_path(current_user.house_hunter.id) %></div></td>
      <% end %>
      <% if current_user.admin == nil %>
        <td><div><%= link_to "Make an Admin Account", new_admin_path%></div></td>
      <% end %>
    </tr>
  </table>
<% end %>

<!-- These are House_Hunter Specific functions -->
<% if current_user.user_type == 3 #|| current_user.user_type == 1 #House Hunter or Admin check%>
  <h4>House_Hunter</h4>
  <table>
    <tr>
      <td><div><%= link_to "View House Hunter Profile", house_hunter_path(current_user.house_hunter)%></div></td>
      <td><div><%= link_to "View All Real Estate Companies", real_state_companies_path %></div></td>
      <td><div><%= link_to "View and Search All Houses", houses_path %></div></td>
      <td><div><%= link_to "View My Inquiries", house_hunter_inquiries_path(current_user.house_hunter.id) %></div></td>
    </tr>
  </table>
<% end %>

<!-- These are Admin Specific functions-->
<% if current_user.user_type == 1 #admin type %>
  <h4>Administrator</h4>
  <table>
    <tr>
      <td><div><%= link_to "Admin Home Page", admin_path(current_user)%></div></td>
    </tr>
  </table>
<% end %>
<br><br>
<br><br>
<!-- Need to be able to reset our user_identity-->
<% if current_user.user_type != 0 %>
  <td><div><%= link_to "Stop Viewing as Any Role", reset_user_type_path %></div></td>
<% end %>
