<h1>Edit Real State Company</h1>

<%= form_for @realEstateCompany, url: real_estate_company_path do |f| %>

  <% if @realEstateCompany.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@realEstateCompany.errors.count, "error") %> prohibited this Real Estate Company from being saved:</h2>

      <ul>
        <% @realEstateCompany.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name  %><br>
    <%= f.text_field :name  %><br>
  </p>

  <p>
    <%= f.label :website  %><br>
    <%= f.text_field :website  %><br>
  </p>

  <p>
    <%= f.label :address  %><br>
    <%= f.text_field :address  %><br>
  </p>

  <p>
    <%= f.label :size  %><br>
    <%= f.text_field :size  %><br>
  </p>

  <p>
    <%= f.label :founded  %><br>
    <%= f.text_field :founded  %><br>
  </p>

  <p>
    <%= f.label :revenue  %><br>
    <%= f.text_field :revenue  %><br>
  </p>

  <p>
    <%= f.label :synopsis  %><br>
    <%= f.text_field :synopsis  %><br>
  </p>

  <p>
  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back', real_estate_company_path %>
<%= link_to 'Back to Home', root_path %>
