<h1> List of Real State Companies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th>Address</th>
    <th>Size</th>
    <th>founded</th>
    <th>revenue</th>
    <th>synopsis</th>
    <th>createdAt</th>
    <th>Realtors</th>
  </tr>

  <% @realEstateCompanies.each do |realestatecompany| %>
    <tr>
      <td><%= realestatecompany.name %></td>
      <td><%= realestatecompany.website %></td>
      <td><%= realestatecompany.address %></td>
      <td><%= realestatecompany.size %></td>
      <td><%= realestatecompany.founded %></td>
      <td><%= realestatecompany.revenue %></td>
      <td><%= realestatecompany.synopsis %></td>
      <td><%= realestatecompany.created_at.strftime(('%v')) %></td>
      <td><% realestatecompany.realtors.each do |realtors| %>
        <p><%= realtors.user.name %></p>
      <% end %></td>

      <td><%= link_to 'Edit', edit_real_estate_company_path(realestatecompany) %></td>
      <td><%= link_to 'Destroy', real_estate_company_path(realestatecompany),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', :back %>
<%= link_to 'Back to Home', root_path %>
