<h1>Show Real State Company</h1>

<p>
  <strong>Id:</strong>
  <%= @realEstateCompany.id  %><br>
</p>

<p>
  <strong>Name:</strong>
  <%= @realEstateCompany.name  %><br>
</p>

<p>
  <strong>Website:</strong>
  <%= @realEstateCompany.website  %><br>
</p>

<p>
  <strong>Address:</strong>
  <%= @realEstateCompany.address  %><br>
</p>

<p>
  <strong>Size:</strong>
  <%= @realEstateCompany.size  %><br>
</p>


<p>
  <strong>founded:</strong>
  <%= @realEstateCompany.founded  %><br>
</p>

<p>
  <strong>revenue:</strong>
  <%= @realEstateCompany.revenue  %><br>
</p>

<p>
  <strong>synopsis:</strong>
  <%= @realEstateCompany.synopsis  %><br>
</p>

<%= link_to 'Edit', edit_real_estate_company_path(@realEstateCompany) %> |
<%= link_to 'Back', real_estate_companies_path %>
<%= link_to 'Back to Home', root_path %>
