<h1>Show Real State Company</h1>

<p>
  <strong>Id:</strong>
  <%= @realStateCompany.real_state_company_id  %><br>
</p>

<p>
  <strong>Author:</strong>
  <%= @realStateCompany.name  %><br>
</p>

<p>
  <strong>Text:</strong>
  <%= @realStateCompany.website  %><br>
</p>

<p>
  <strong>Time:</strong>
  <%= @realStateCompany.address  %><br>
</p>


<%= link_to 'Edit', edit_realEstateCompany_path(@realStateCompany) %> |
<%= link_to 'Back', realEstateCompanies_path %>
