<%= form_with(model: house_hunter, local: true) do |form| %>
  <% if house_hunter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house_hunter.errors.count, "error") %> prohibited this house_hunter from being saved:</h2>

      <ul>
      <% house_hunter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :preferred_contact %>
    <%= form.select(:preferred_contact, options_for_select([['E-mail', 1], ['Text', 2], ['Phone', 3]])) %>
  </div>

  <% if current_user.user_type == 1 #admin type %>
    <div class="field">
      <%= form.label :user %>
      <%= form.collection_select(:user_id, User.all, :id, :name) %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
