<p id="notice"><%= notice %></p>
<%=  @house_hunter.inspect %>
<p>
  <strong>Name:</strong>
  <%= @house_hunter.user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @house_hunter.user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @house_hunter.user.phone %>
</p>

<p>
  <strong>Preferred contact:</strong>
  <%= @house_hunter.preferred_contact %>
</p>

<%= link_to 'Edit', edit_house_hunter_path(@house_hunter) %> |
<%= link_to 'Back to Home', root_path %>
