<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @house_hunter.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @house_hunter.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @house_hunter.password %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @house_hunter.phone %>
</p>

<p>
  <strong>Preferred contact:</strong>
  <%= @house_hunter.preferred_contact %>
</p>

<%= link_to 'Edit', edit_house_hunter_path(@house_hunter) %> |
<%= link_to 'Back', house_hunters_path %>
