<h1>New Real State Company</h1>

<%= form_for :real_state_companies, url: real_state_companies_path do |f| %>
  <p>
    <%= f.label :name  %><br>
    <%= f.text_field :name  %><br>
  </p>

  <p>
    <%= f.label :website  %><br>
    <%= f.text_field :website  %><br>
  </p>

  <p>
    <%= f.label :address  %><br>
    <%= f.text_field :address  %><br>
  </p>

  <p>
    <%= f.label :size  %><br>
    <%= f.text_field :size  %><br>
  </p>

  <p>
    <%= f.label :founding_year  %><br>
    <%= f.text_field :founding_year  %><br>
  </p>

  <p>
    <%= f.label :revenue  %><br>
    <%= f.text_field :revenue  %><br>
  </p>

  <p>
    <%= f.label :synopsis  %><br>
    <%= f.text_field :synopsis  %><br>
  </p>

  <p>
  <p>
    <%= f.submit %>
  </p>

<% end %>