<p id="notice"><%= notice %></p>

<p>
  <strong>Inquiry:</strong>
  <%= @inquiry.inquiry_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @inquiry.user_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @inquiry.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @inquiry.message %>
</p>

<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', root_path %>
